@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --font-tertiary: var(--font-tertiary);
  --font-special: var(--font-special);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}